<!--<style>#button {-->
<!--            margin-top: 20px;-->
<!--            font-size: 18 px;-->
<!--            color: blue;-->
<!--            background: black;-->
<!--            border-radius: 20px;-->
<!--            padding: 15 px 20 px;-->
<!--            cursor: pointer;}-->
<!--</style>-->
<h1>Vice Versa</h1>
<form action="{% url 'reverse'%}">
    <textarea rows="4" cols="50" name="usertext"> Enter text that you want to reverse</textarea>
    <br>
    <input type="submit" value="Reverse">
</form>